<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>One Month Growth Hacking</title>
    
    <%= csrf_meta_tags %>

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <div id="content" class="container">
		  <header id="content-header">
		    <div id="price-container">
		      <span class="glyphicon glyphicon-tag" aria-hidden=true></span><span class="price">$4.99</span>
		    </div>
		    <%= image_tag('header-image.jpg', id: 'content-header-image', alt: 'Learn Growth Hacking') %>
		  </header>
		  <% if notice.present? || alert.present? %>
			  <section id="alerts">
				  <p class="notice"><%= notice %></p>
	  	    <p class="alert"><%= alert %></p>
			  </section>
		  <% end %>
	    <%= yield %>
	  </div>
  </body>
</html>
